[Unit]
Description=Kerberos credentials refresh for %I

[Service]
Type=oneshot
User=rpmostreecompose
Group=rpmostreecompose
EnvironmentFile=/etc/sysconfig/rpm-ostree-toolbox-%I
ExecStart=/usr/bin/rpm-ostree-toolbox-kinit -c $CONFIG
