[Unit]
Description=Monitor message bus, trigger compose
Requires=rpm-ostree-toolbox-kinit.timer

[Service]
Type=simple
User=rpmostreecompose
Group=rpmostreecompose
EnvironmentFile=/etc/sysconfig/rpm-ostree-toolbox
ExecStart=/usr/bin/rpm-ostree-toolbox-build-monitor -c $CONFIG
