[Unit]
Description=Message bus monitor on %I
Requires=rpm-ostree-toolbox-kinit@%i.timer rpm-ostree-toolbox-kinit@%i.service
After=   rpm-ostree-toolbox-kinit@%i.timer rpm-ostree-toolbox-kinit@%i.service

[Service]
Type=simple
User=rpmostreecompose
Group=rpmostreecompose
EnvironmentFile=/etc/sysconfig/rpm-ostree-toolbox-%I
ExecStart=/usr/bin/rpm-ostree-toolbox-build-monitor -c $CONFIG
Restart=on-failure
RestartSec=10

[Install]
WantedBy=multi-user.target
