[Unit]
Description=top-level treecompose event monitor for %I

[Service]
Type=simple
# FIXME: we would *like* to run as rpmostree. In theory we
# should be able to. In practice, rpmostree does not have
# read access to its own journal log files. Possibly:
#    https://www.libreoffice.org/bugzilla/show_bug.cgi?id=70866
# until that's fixed, we need to run as root.
#User=rpmostreecompose
#Group=rpmostreecompose
WorkingDirectory=%I
ExecStart=/usr/bin/rpm-ostree-toolbox-watch
Restart=on-failure

[Install]
WantedBy=multi-user.target
