## Lorax template to embed ostree repo into installer

<%page args="root, ostree_osname, ostree_repo, ostree_ref"/>

mkdir install/ostree

runcmd ostree --repo=${root}/install/ostree init --mode=archive-z2
runcmd ostree --repo=${root}/install/ostree pull-local --disable-fsync ${ostree_repo} ${ostree_ref}

append usr/share/anaconda/interactive-defaults.ks "ostreesetup --nogpg --osname=${ostree_osname} --remote=${ostree_osname} --url=file:///install/ostree --ref=${ostree_ref}\n"
append usr/share/anaconda/interactive-defaults.ks "services --disabled cloud-init,cloud-config,cloud-final,cloud-init-local\n"


